<!-- History -->
<div class="history noVisible">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ lang.history }}</h3>
            <hr/>
            <div class="backups"></div>
        </div>
    </div>
</div>